@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #263238;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Шапка */
.header {
  margin-top: 55px;
  margin-bottom: 51px;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__line {
  display: none;
}
.header__menu-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.menu__link {
  color: #263238;
  font-weight: 500;
  font-size: 20px;
}
.menu__link:hover {
  color: gray;
}

.header__btn {
  padding: 17px 57px;
  border: 2px solid #263238;
  border-radius: 5px;
  font-size: 24px;
  color: #000;
  background-color: #ffffff;
  cursor: pointer;
  font-family: inherit;
}
.header__btn:hover {
  background-color: #f2f2f2;
}

.header__burger {
  display: none;
}

/* Hero */

.hero {
  margin-bottom: 103px;
}

.hero__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  max-width: 620px;
}

.hero__title {
  position: relative;
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  color: #000;
  font-weight: 600;
  margin-bottom: 40px;
}
.hero__title span {
  display: block;
}
.hero__title-img {
  position: absolute;
  right: 0px;
  top: 115px;
}

.hero__desc {
  font-weight: 400;
  font-size: 24px;
  color: #8f95a5;
  margin-bottom: 61px;
}
.hero__desc span {
  display: block;
}

.hero__btn {
  color: #fff;
  background-color: #263238;
  padding: 32px 118px;
  border-radius: 15px;
  font-size: 36px;
  font-family: inherit;
  cursor: pointer;
  border: none;
}
.hero__btn:hover {
  background-color: #37474f;
}

/* Skills */

.skills {
  margin-bottom: 252px;
}

.skills__title {
  color: #000;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  margin-bottom: 96px;
}

.skills__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.skills__card {
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.skills__card-img-2 {
  margin-left: 122px;
}

.skills__card-img-1 {
  padding: 35px 22px 5px 23px;
}

.skills__card-title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 5px;
  line-height: 80px;
}

.skills__card-desc {
  color: #8f95a5;
  max-width: 384px;
  margin-bottom: 20px;
}

.skills__card-subdesc {
  color: #8f95a5;

  max-width: 384px;
  margin-bottom: 36px;
}

.skills__card-btn {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  background-color: #263238;
  padding: 17px 64px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  width: fit-content;
}

.skills__card-btn:hover {
  background-color: #37474f;
}

.skills__card-1 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.skills__card-4 {
  grid-column: 2/4;
  grid-row: 2/3;
}

.skills__flex {
  display: flex;
  justify-content: space-between;
}

.skills__flex-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills__card-content {
  padding: 4px 13px 68px 42px;
}

/* About */

.about {
  margin-bottom: 188px;
}

.about__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__content {
  max-width: 635px;
}

.about__content-title {
  font-weight: 600;
  font-size: 48px;
  color: #000;
  line-height: 80px;
  margin-bottom: 23px;
}

.about__img-mobile {
  display: none;
}

.about__content-desc {
  font-size: 20px;
  color: #8f95a5;
  padding-bottom: 30px;
}

.about__numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__numbers-value {
  color: #2a3246;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
}

.about__numbers-desc {
  font-weight: 400;
  font-size: 20px;
  color: #8f95a5;
  text-align: center;
}

/* Pricing */

.pricing {
  margin-bottom: 257px;
}

.pricing__title {
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: #000;
  line-height: 80px;
  margin-bottom: 57px;
}

.pricing__flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.pricing__card {
  display: flex;
  flex-direction: column;
}

.pricing__card-img {
  height: 340px;
}

.pricing__card-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 20px;
}

.pricing__card-desc {
  font-size: 20px;
  color: #8f95a5;
  margin-bottom: 29px;
  height: 100px;
}

.pricing__card-price {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #eee;
  font-size: 30px;
  color: #263238;
  cursor: pointer;
  border: none;
  max-width: 240px;
  gap: 10px;
}
.pricing__card-price:hover {
  background-color: #d6d6d6;
}
.pricing__card-price-subtext {
  font-size: 18px;
  color: #546269;
}

/* Contact */

.contact {
  margin-bottom: 133px;
}

.contact__flex {
  display: flex;
  justify-content: space-between;
}

.contact__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: #000;
  margin-bottom: 37px;
  margin-top: 33px;
}

.contact__img-mobile {
  display: none;
}

.contact__desc {
  font-size: 20px;
  color: #8f95a5;
  max-width: 776px;
  margin-bottom: 52px;
}

.contact__form {
  display: flex; /* Добавьте это для десктопа */
}

.contact__form-input {
  border: 1px solid #8f95a5;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 33px;
  padding-top: 26px;
  padding-bottom: 30px;
  width: 450px;
  outline: none;
  font-family: inherit;
  margin-right: 10px;
}
.contact__form-input::placeholder {
  color: #8f95a5;
}

.contact__form-btn {
  border-radius: 10px;
  background-color: #263238;
  font-weight: 500;
  font-size: 20px;
  font-family: inherit;
  color: #fff;
  padding: 25px 82px;
  cursor: pointer;
  border: none;
}
.contact__form-btn:hover {
  background-color: #37474f;
}

/* Footer */

.line {
  height: 1px;
  width: 100%;
  background-color: #c4c4c4;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 31px 0;
}

.footer__text {
  font-size: 24px;
  color: #8f95a5;
}
.footer__text:hover {
  color: #7a7f8d;
}

/* Медиа-запросы */

@media (max-width: 1220px) {
  .container {
    max-width: 1140px;
  }

  /* Hero */

  .hero__title {
    line-height: 77px;
    font-size: 62px;
  }

  .hero__title-img {
    right: 0px;
    top: 136px;
  }

  .hero__desc {
    font-size: 20px;
  }

  /* Pricing */

  .pricing__card-title {
    font-size: 27px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1150px;
    padding: 0 30px;
  }

  /* Hero */

  .hero__flex {
    gap: 15px;
  }

  .hero__title-img {
    max-width: 95px;
  }

  .menu__link {
    font-size: 19px;
  }

  .header__btn {
    padding: 13px 53px;
    font-size: 22px;
  }

  /* Header */

  .header__btn {
    padding: 15px 55px;
    font-size: 23px;
  }

  /* Hero */

  .hero__title {
    font-size: 59px;
  }

  .hero__title-img {
    max-height: 76px;
    top: 142px;
  }

  .hero__desc {
    font-size: 16px;
  }

  .hero__btn {
    font-size: 25px;
    padding: 28px 110px;
  }

  .logo {
    max-width: 96%;
  }

  /* Skills */

  .skills__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .skills__card-1,
  .skills__card-4 {
    grid-column: auto;
    grid-row: auto;
  }

  .skills__flex {
    flex-direction: column;
  }

  .skills__card-img-4 {
    order: -1;
  }

  .skills__card-img-2 {
    margin: 0;
    padding: 35px 22px 5px 23px;
  }

  /* About */
  .about__content {
    max-width: 568px;
  }
  .about__content-title {
    font-size: 45px;
    line-height: 77px;
  }
  .about__content-desc {
    font-size: 19px;
  }
  .about__numbers-value {
    font-size: 46px;
    line-height: 77px;
  }
  /* Pricing */
  .pricing__card-title {
    font-size: 24px;
  }

  /* Contact */
  .contact__content {
    max-width: 537px;
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 1040px;
  }

  /* Hero */
  .hero__title {
    font-size: 59px;
  }
  .hero__desc {
    font-size: 14px;
    margin-bottom: 35px;
  }
  .hero__btn {
    font-size: 25px;
    padding: 20px 80px;
  }

  /* About */
  .about__content-title {
    font-size: 43px;
    line-height: 68px;
  }
  .about__content-desc {
    font-size: 16px;
  }
  .about__numbers-value {
    font-size: 41px;
    line-height: 61px;
  }
  .about__numbers-desc {
    font-size: 18px;
  }

  /* Pricing */
  .pricing__card-title {
    font-size: 23px;
  }
  .pricing__card-desc {
    font-size: 17px;
  }

  .pricing__card-img {
    height: 314px;
  }

  /* Footer */
  .footer__text {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  /* Header */
  .header__btn {
    padding: 11px 45px;
    font-size: 21px;
  }

  /* Hero */

  .hero__title {
    font-size: 58px;
    line-height: 63px;
    margin-bottom: 21px;
  }
  .hero__title-img {
    top: 121px;
  }

  .hero__desc {
    font-size: 13px;
    margin-bottom: 18px;
  }
  .hero__btn {
    font-size: 24px;
    padding: 20px 77px;
  }

  /* About */

  .about__content {
    max-width: 480px;
  }

  .about__content-title {
    font-size: 40px;
    line-height: 29px;
  }
  .about__content-desc {
    font-size: 14px;
    padding-bottom: 23px;
  }
  .about__numbers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 41px;
  }

  /* Pricing */
  .pricing__card-img {
    height: 305px;
  }
  .pricing__card-title {
    font-size: 19px;
    margin-bottom: 11px;
  }
  .pricing__card-desc {
    font-size: 14px;
  }
  .pricing__card-price {
    font-size: 26px;
  }

  /* Contact */

  .contact__title {
    font-size: 42px;
    line-height: 28px;
    margin-bottom: 34px;
    margin-top: 5px;
  }
  .contact__desc {
    font-size: 17px;
    margin-bottom: 27px;
  }
  .contact__form-input {
    font-size: 15px;
    padding-left: 21px;
    padding-top: 24px;
    padding-bottom: 22px;
    width: auto;
  }
  .contact__form-btn {
    font-size: 16px;
    padding: 23px 80px;
  }

  /* Footer */
  .footer__text {
    font-size: 20px;
  }
}

@media (max-width: 830px) {
  /* Header */
  .header__flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .header__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
  }

  .header__img {
    max-width: 89px;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .header__burger-line {
    display: block;
    height: 3px;
    width: 100%;
    background: #39515e;
    border-radius: 1px;
    transition: all 0.3s ease;
  }

  /* Burger animation */
  .header__burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .header__burger.active span:nth-child(2) {
    opacity: 0;
  }

  .header__burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .header__line.active {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #c4c4c4;
    margin-bottom: 31px;
  }

  .header__menu {
    display: none;
  }

  .header__menu.active {
    display: flex;
  }

  .header__menu-list {
    flex-direction: column;
    margin-bottom: 80px;
  }

  .menu__link {
    font-size: 24px;
  }

  .header__btn {
    display: none;
  }

  .header__btn.active {
    display: flex;
    margin-top: 15px;
    font-size: 20px;
    font-family: inherit;
    padding: 19px 119px;
  }

  /* Skills */
  .skills__card-title {
    font-size: 26px;
    margin-bottom: 3px;
    line-height: 57px;
  }
  .skills__card-desc {
    max-width: 384px;
    margin-bottom: 17px;
  }
  .skills__card-btn {
    font-size: 16px;
    padding: 15px 55px;
  }

  /* About */
  .about__content {
    max-width: 424px;
  }
  .about__content-title {
    font-size: 38px;
    line-height: 36px;
  }
  .about__content-desc {
    padding-bottom: 14px;
  }
  .about__numbers {
    gap: 37px;
  }
  .about__numbers-value {
    font-size: 30px;
    line-height: 50px;
  }
  .about__numbers-desc {
    font-size: 16px;
  }

  /* Pricing */
  .pricing__card-title {
    font-size: 17px;
    margin-bottom: 11px;
    line-height: 21px;
  }
  .pricing__card-price {
    font-size: 21px;
  }
  .pricing__card-img {
    height: 296px;
  }

  /* Contact */
  .contact__title {
    line-height: 25px;
  }
  .contact__desc {
    font-size: 16px;
  }
  .contact__form-input {
    max-width: 100%;
  }
  .contact__form-btn {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
  }

  /* Hero */
  .hero {
    margin-bottom: 96px;
  }

  .hero__flex {
    flex-direction: column;
  }

  .hero__logo {
    order: -1;
    margin-bottom: 17px;
  }

  .hero__content {
    text-align: center;
  }

  .hero__title {
    font-size: 31px;
    margin-bottom: 26px;
    line-height: 45px;
  }

  .hero__title-img {
    display: none;
  }

  .hero__title span {
    display: inline;
  }

  .hero__desc {
    font-size: 15px;
    margin-bottom: 37px;
  }
  .hero__desc span {
    display: inline;
  }

  .hero__btn {
    font-weight: 500;
    font-size: 18px;
    font-family: inherit;
    padding: 24px 102px;
  }

  /* Skills */
  .skills {
    margin-bottom: 84px;
  }

  .skills__title {
    font-size: 30px;
  }

  .skills__card-title {
    font-size: 18px;
    margin-bottom: 23px;
  }

  .skills__card-desc {
    font-size: 12px;
  }

  .skills__card-subdesc {
    font-size: 12px;
  }

  .skills__card-btn {
    font-size: 12px;
    padding: 15px 52px;
  }
  /* About */

  .about {
    margin-bottom: 131px;
  }

  .about__flex {
    flex-direction: column;
  }

  .about__content {
    text-align: center;
  }
  .about__logo {
    max-width: 352px;
  }

  .about__img {
    margin-bottom: 25px;
  }

  .about__content-title {
    font-size: 30px;
    text-align: center;
  }

  .about__img-mobile {
    display: block;
    margin-bottom: 25px;
  }

  .about__img-mobile-logo {
    max-width: 352px;
  }

  .about__content-desc {
    font-size: 13px;
    text-align: center;
  }
  .about__numbers {
    justify-content: space-between;
  }

  .about__numbers-value {
    font-size: 24px;
    line-height: 47px;
  }

  .about__numbers-desc {
    font-size: 14px;
  }

  .about__img {
    display: none;
  }
  /* Pricing */

  .pricing {
    margin-bottom: 163px;
  }

  .pricing__title {
    margin-bottom: 54px;
    font-size: 30px;
  }

  .pricing__flex {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .pricing__card {
    align-items: center;
  }

  .pricing__card-img {
    max-width: 314px;
    margin-bottom: 15px;
  }

  .pricing__card-title {
    font-size: 24px;
    line-height: 28px;
  }

  .pricing__card-desc {
    font-size: 19px;
    margin-bottom: 31px;
    height: auto;
  }

  .pricing__card-price {
    padding: 7px 18px;
    margin-bottom: 71px;
  }

  .pricing__card-price-main {
    font-size: 22px;
  }

  .pricing__card-price-subtext {
    font-size: 16px;
  }
  /* Contact */
  .contact {
    margin-bottom: 144px;
  }

  .contact__img {
    display: none;
  }

  .contact__content {
    text-align: center;
  }

  .contact__title {
    font-size: 30px;
    line-height: 80px;
    margin-bottom: 83px;
  }

  .contact__img-mobile {
    display: block;
    margin-bottom: 34px;
  }

  .contact__img-mobile-logo {
    max-width: 357px;
  }

  .contact__desc {
    font-size: 17px;
    margin-bottom: 60px;
  }

  .contact__form {
    display: flex;
    position: absolute;
    max-width: 100%;
  }
  .contact__form-input {
    padding-top: 24px;
    padding-bottom: 20px;
    font-size: 13px;
    margin-right: 0px;
    width: 511px;
  }
  .contact__form-btn {
    padding: 21px 56px;
    position: absolute;
    right: 0px;
  }

  /* Footer */

  .footer__text {
    font-weight: 500;
    font-size: 12px;
  }

  .footer__logo-img {
    max-width: 89px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 536px;
    padding-left: 30px;
  }

  .header__top {
    width: 100%;
  }

  /* Skills */
  .skills__card-desc {
    font-size: 10px;
  }
  .skills__card-btn {
    padding: 12px 26px;
  }

  /* Contact */
  .contact__form {
    max-width: 85%;
  }
  .contact__form-btn {
    padding: 21px 31px;
  }

  /* Footer */

  .footer__logo-img {
    max-width: 84px;
  }

  .footer__text {
    font-size: 10px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  /* Header */

  .header__top {
    margin-bottom: 20px;
  }

  .header__menu-list {
    margin-bottom: 69px;
  }

  .menu__link {
    font-size: 22px;
  }

  .header__img {
    max-width: 85px;
  }

  .header__btn {
    width: 100%;
  }

  /* Hero */

  .hero {
    margin-bottom: 51px;
  }

  .hero__title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 36px;
  }

  .hero__desc {
    font-size: 14px;
    margin-bottom: 35px;
  }
  .hero__btn {
    width: 100%;
    font-size: 16px;
    padding: 18px 99px;
  }

  /* Skills */

  .skills {
    margin-bottom: 50px;
  }

  .skills__title {
    font-size: 24px;
    line-height: 80px;
    margin-bottom: 32px;
  }

  .skills__cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 21px;
  }

  .skills__card-title {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 80px;
  }

  .skills__card-content {
    padding: 4px 13px 0px 42px;
  }

  .skills__card-desc {
    font-size: 13px;
  }
  .skills__card-subdesc {
    font-size: 13px;
  }

  .skills__card-btn {
    font-size: 14px;
    padding: 14px 43px;
    margin-bottom: 45px;
  }

  /* About */

  .about {
    margin-bottom: 84px;
  }

  .about__content-title {
    font-size: 24px;
    line-height: 80px;
    margin-bottom: 24px;
  }
  .about__img-mobile-logo {
    max-width: 283px;
  }

  .about__content-desc {
    font-size: 13px;
  }

  .about__numbers {
    flex-direction: column;
    gap: 34px;
  }

  .about__numbers-desc {
    font-size: 15px;
  }

  /* Pricing */

  .pricing {
    margin-bottom: 72px;
  }

  .pricing__title {
    font-size: 24px;
    line-height: 80px;
    margin-bottom: 49px;
  }

  .pricing__card-img {
    max-width: 257px;
    margin-bottom: 7px;
  }

  .pricing__card-title {
    font-size: 18px;
    margin-bottom: 17px;
  }

  .pricing__card-desc {
    font-size: 17px;
    margin-bottom: 33px;
  }

  .pricing__card-price {
    padding: 5px 12px;
    gap: 7px;
  }
  .pricing__card-price-main {
    font-size: 18px;
  }
  .pricing__card-price-subtext {
    font-size: 14px;
  }

  /* Contact */

  .contact__title {
    font-size: 28px;
    margin-bottom: 46px;
  }
  .contact__img-mobile-logo {
    max-width: 253px;
  }
  .contact__desc {
    font-size: 14px;
    margin-bottom: 31px;
  }

  .contact__form {
    width: 100%;
    flex-direction: column;
    gap: 17px;
    margin-left: 15px;
  }
  .contact__form-input {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 12px;
  }
  .contact__form-btn {
    position: static;
    padding: 20px 110px;
    font-size: 14px;
    width: 100%;
  }

  /* Footer */

  .footer__flex {
    flex-direction: column;
    gap: 15px;
  }

  .footer__text {
    font-size: 11px;
  }
}
