@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #263238;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

/* Шапка */
.header {
  margin-top: 55px;
  margin-bottom: 51px;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.menu__link {
  color: #263238;
  font-weight: 500;
  font-size: 20px;
}
.menu__link:hover {
  color: gray;
}

.header__btn {
  padding: 17px 57px;
  border: 2px solid #263238;
  border-radius: 5px;
  font-size: 24px;
  color: #000;
  background-color: #ffffff;
  cursor: pointer;
  font-family: inherit;
}
.header__btn:hover {
  background-color: #f2f2f2;
}

/* Hero */

.hero {
  margin-bottom: 103px;
}

.hero__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  max-width: 620px;
}

.hero__title {
  position: relative;
  font-size: 64px;
  color: #000;
  font-weight: 600;
  margin-bottom: 40px;
}
.hero__title span {
  display: block;
}
.hero__title-img {
  position: absolute;
  right: 0px;
  top: 115px;
}

.hero__desc {
  font-weight: 400;
  font-size: 24px;
  color: #8f95a5;
  margin-bottom: 61px;
}
.hero__desc span {
  display: block;
}

.hero__btn {
  color: #fff;
  background-color: #263238;
  padding: 32px 118px;
  border-radius: 15px;
  font-size: 36px;
  font-family: inherit;
  cursor: pointer;
}
.hero__btn:hover {
  background-color: #37474f;
}

/* Skills */

.skills {
  margin-bottom: 252px;
}

.skills__title {
  color: #000;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  margin-bottom: 96px;
}

.skills__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.skills__card {
  background: #f5f5f5;
  border-radius: 10px;
}

.skills__card-img-1 {
  padding: 35px 22px 5px 23px;
}

.skills__card-title {
  font-weight: 600;
  font-size: 30px;
  padding-left: 43px;
  margin-bottom: 5px;
  line-height: 80px;
}

.skills__card-desc {
  color: #8f95a5;
  padding-left: 43px;
  max-width: 384px;
  margin-bottom: 20px;
}

.skills__card-subdesc {
  color: #8f95a5;
  padding-left: 43px;
  max-width: 384px;
  margin-bottom: 36px;
}

.skills__card-btn {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  background-color: #263238;
  padding: 17px 64px;
  margin-left: 43px;
  cursor: pointer;
  margin-bottom: 68px;
  font-family: inherit;
}

.skills__card-btn:hover {
  background-color: #37474f;
}

.skills__card-1 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.skills__card-4 {
  grid-column: 2/4;
  grid-row: 2/3;
}

.skills__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* About */

.about {
  margin-bottom: 188px;
}

.about__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__content {
  max-width: 635px;
}

.about__content-title {
  font-weight: 600;
  font-size: 48px;
  color: #000;
  line-height: 80px;
  margin-bottom: 23px;
}

.about__content-desc {
  font-size: 20px;
  color: #8f95a5;
  padding-bottom: 30px;
}

.about__numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__numbers-value {
  color: #2a3246;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
}

.about__numbers-desc {
  font-weight: 400;
  font-size: 20px;
  color: #8f95a5;
}

/* Pricing */

.pricing__title {
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: #000;
  line-height: 80px;
}

.pricing__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing__card {
  max-width: 435px;
}

.pricing__card-img--first {
  margin-top: 57px;
  margin-bottom: 40px;
}

.pricing__card-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
}
.pricing__card-title-first {
  margin-bottom: 19px;
}

.pricing__card-desc {
  font-size: 20px;
  color: #8f95a5;
}
.pricing__card-desc--first {
  margin-bottom: 29px;
}

.pricing__card-price {
  border-radius: 5px;
  background-color: #eee;
  padding-left: 18px;
  padding-right: 24px;
  font-size: 30px;
  color: #263238;
  cursor: pointer;
  border: none;
  margin-bottom: 257px;
}
.pricing__card-price:hover {
  background-color: #d6d6d6;
}

.pricing__card-price--gray {
  display: inline;
  font-size: 18px;
  color: #546269;
  padding-top: 7px;
  padding-bottom: 11px;
}

.pricing__card-img--second {
  margin-top: 83px;
  margin-bottom: 42px;
}

.pricing__card-title-second {
  margin-bottom: 23px;
}

.pricing__card-desc--second {
  margin-bottom: 59px;
}

.pricing__card-img--third {
  margin-top: 57px;
  margin-bottom: 11px;
}

.pricing__card-title--third {
  margin-bottom: 20px;
}

.pricing__card-desc--third {
  margin-bottom: 59px;
}

/* Contact */

.contact {
  margin-bottom: 133px;
}

.contact__flex {
  display: flex;
  justify-content: space-between;
}

.contact__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: #000;
  margin-bottom: 37px;
  margin-top: 33px;
}

.contact__desc {
  font-size: 20px;
  color: #8f95a5;
  max-width: 776px;
  margin-bottom: 52px;
}

.contact__form-input {
  border: 1px solid #8f95a5;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 33px;
  padding-top: 26px;
  padding-bottom: 30px;
  width: 450px;
  outline: none;
  font-family: inherit;
}
.contact__form-input::placeholder {
  color: #8f95a5;
}

.contact__form-btn {
  border-radius: 10px;
  background-color: #263238;
  font-weight: 500;
  font-size: 20px;
  font-family: inherit;
  color: #fff;
  padding: 25px 82px;
  cursor: pointer;
}
.contact__form-btn:hover {
  background-color: #37474f;
}

/* Footer */

hr {
  margin-bottom: 31px;
  background-color: #c4c4c4;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-size: 24px;
  color: #8f95a5;
}
.footer__text:hover {
  color: #7a7f8d;
}
